# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

menuconfig GPIO_RGB_STRIP
    bool "GPIO RGB LED Strip Driver"
    default y
    depends on GPIO
    select LED_STRIP
    help
      Enable driver for GPIO RGB LED strips